<h3>Add User</h3>

<div class="container">
  <form [formGroup]='userAddForm' (ngSubmit)="userSaveAPI(userAddForm.value)" enctype="multipart/form-data">
    <!-- <form > -->
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" formControlName="first_name" placeholder="Your name.." ngModel [pattern]="firstAndLastNamePattern" [ngClass]="{'is-invalid':submitted && userAddForm.get('first_name').errors}" required>
    <!-- <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger">
      First name allows only maximum 25 characters with only alphabets, space, dash.
    </div> -->
    <div *ngIf="(submitted == true && userAddForm.get('first_name').errors)" class="alert alert-danger">
      First name allows only maximum 25 characters with only alphabets, space, dash.
    </div>

    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" formControlName="last_name" placeholder="Your last name.." ngModel [pattern]="firstAndLastNamePattern" [ngClass]="{'is-invalid':submitted && userAddForm.get('last_name').errors}" required>
    <div *ngIf="(submitted == true && userAddForm.get('last_name').errors)" class="alert alert-danger">
      Last name allows only maximum 25 characters with only alphabets, space, dash.
    </div>

    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" placeholder="Your email address.." ngModel [pattern]="emailValidationPattern" [ngClass]="{'is-invalid':submitted && userAddForm.get('email').errors}" required>
    <div *ngIf="(submitted == true && userAddForm.get('email').errors)" class="alert alert-danger">
      Please provide valid email address.
    </div>

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" ngModel [pattern]="passwordPattern" [ngClass]="{'is-invalid':submitted && userAddForm.get('password').errors}" required>
    <div *ngIf="(submitted == true && userAddForm.get('password').errors)" class="alert alert-danger">
      Password should have  minimum 6 characters with one capital, one small & one number.
    </div>

    <label for="phoneno">Phone No</label>
    <input type="text" id="phoneno" formControlName="phoneno" placeholder="Your phone number.." ngModel [pattern]="mobNumberPattern" [ngClass]="{'is-invalid':submitted && userAddForm.get('phoneno').errors}" required>
    <div *ngIf="(submitted == true && userAddForm.get('phoneno').errors)" class="alert alert-danger">
      Please provide valid phone number. ( (555) 555-1234 )
    </div>

    <!-- <label for="userimage">Select Image</label> 
    <img [src]="ImageUrl" style="width:100px;height:100px">
    <input type="file" formControlName="uploadedImage" accept="image/*"
    (change)="handleFileInput($event.target.files,$event)" [ngClass]="{'is-invalid':submitted && userAddForm.get('uploadedImage').errors}" required> 
    <div *ngIf="(submitted == true && userAddForm.get('uploadedImage').errors)" class="alert alert-danger">
      Please select a image.
    </div> -->
    <div>
      <span>
        <mat-label>Choose a DOB</mat-label>
        <input matInput [matDatepicker]="picker" type="text" style="width: 94%;" formControlName="dob" ngModel [ngClass]="{'is-invalid':submitted && userAddForm.get('dob').errors}" required>
        <div *ngIf="(submitted == true && userAddForm.get('dob').errors)" class="alert alert-danger">
          Please select dob. 
        </div>
      </span>
      <span>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </span>
    </div>
    <div>
      <input #_fileInput type="file" formControlName="uploadedImage" (change)="openCropperDialog($event)" accept="image/*" hidden>

      <button ly-button color="primary" (click)="_fileInput.click()">
        <ly-icon [lyMf]="1">image</ly-icon>
        <span>Select File</span>
      </button>

      <div *ngIf="cropped"><img [src]="cropped"></div>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
    
  </form>
</div>