<h2>Login Form</h2>

<form  [formGroup]='userLoginForm' (ngSubmit)="login(userLoginForm.value)">
  <div class="imgcontainer">
    <!-- <img src="assets/img_avatar2.png" alt="Avatar" class="avatar"> -->
  </div>

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" id="email" formControlName="email" placeholder="Your email address.." ngModel [pattern]="emailValidationPattern" [ngClass]="{'is-invalid':submitted && userLoginForm.get('email').errors}" required>
    <div *ngIf="(submitted == true && userLoginForm.get('email').errors)" class="alert alert-danger">
      Please provide valid email address.
    </div>

    <label for="psw"><b>Password</b></label>
    <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
    <input type="password" id="password" formControlName="password" ngModel [pattern]="passwordPattern" [ngClass]="{'is-invalid':submitted && userLoginForm.get('password').errors}" required>
    <div *ngIf="(submitted == true && userLoginForm.get('password').errors)" class="alert alert-danger">
      Password should have  minimum 6 characters with one capital, one small & one number.
    </div>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <a routerLink="/usersadd"><button type="button" class="cancelbtn">New Account</button></a>
    <span class="psw">Forgot <a routerLink="/forgotpassword">Password?</a></span>
  </div>
</form>    