<h2>Forgot Password</h2>

<form  [formGroup]='userForgotForm' (ngSubmit)="forgot(userForgotForm.value)">
  <div class="imgcontainer">
  </div>

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" id="email" formControlName="email" placeholder="Your email address.." ngModel [pattern]="emailValidationPattern" [ngClass]="{'is-invalid':submitted && userForgotForm.get('email').errors}" required>
    <div *ngIf="(submitted == true && userForgotForm.get('email').errors)" class="alert alert-danger">
      Please provide valid email address.
    </div>
    <button type="submit">Submit</button>
  </div>
</form>    