<!-- <table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gmail</th>
    <th>Phone No</th>
    <th>Image</th>
  </tr>
  <tr>
    <td>{{apiData.first_name}}</td>
    <td>{{apiData.last_name}}</td>
    <td>{{apiData.email}}</td>
    <td>{{apiData.phoneno}}</td>
    <td>
      <img src="https://nodejstutomean.herokuapp.com/userImages/{{apiData.image}}" style="width:100px;height:100px">
    </td> 
  </tr>
</table> -->

<table style="width:100%">
  <tr>
    <th>First Name:</th>
    <td>{{apiData.first_name}}</td>
  </tr>
  <tr>
    <th>Last Name:</th>
    <td>{{apiData.last_name}}</td>
  </tr>
  <tr>
    <th>Email:</th>
    <td>{{apiData.email}}</td>
  </tr>
  <tr>
    <th>Phone Number:</th>
    <td>{{apiData.phoneno}}</td>
  </tr>
  <tr>
    <th>DOB:</th>
    <td>{{apiData.dob}}</td>
  </tr>
  <tr>
    <th>Profile Image:</th>
    <td><img src="https://nodejstutomean.herokuapp.com/userImages/{{apiData.image}}" style="width:100px;height:100px"></td>
  </tr>
</table>