<div class="col-lg-10 col-md-8 col-sm-10 col-8" style="padding-left: 20px;">
  <div class="example-header">
      <div class="row" style="padding-bottom: 5px;">
          <div class="col-md-3" style="top: 10px;"> 
              <button mat-button (click)="getReport()">Download Users List CSV</button>
          </div>
          <span>
            Login Time :- {{timeAccordingToTimezone}}
          </span>
      </div>
  </div>
  <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="ID">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index">{{i + 1}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="FirstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.first_name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="LastName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.last_name}} </mat-cell>
            </ng-container>            
          <ng-container matColumnDef="Email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="PhoneNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phoneno}} </mat-cell>
          </ng-container>  
          <ng-container matColumnDef="actions2">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:12px"> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <!-- <button mat-button data-target="#myModal" (click)="onViewClick(row.PisNo)"
                data-toggle="modal"><i class="fa fa-eye" aria-hidden="true"></i></button> -->
                <a mat-button routerLink="/users/details/{{row._id}}"><i class="fa fa-eye"></i></a>
                <a mat-button routerLink="/users/update/{{row._id}}"><i class="fa fa-edit"></i></a>
                <a
                  mat-button
                  href="javascript:void(0)"
                  class=""
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  placement="left"
                  (confirm) = "delete(row._id)"
                  (cancel) = "cancelClicked = true"
            ><i class="fa fa-trash"></i></a>
            </mat-cell>
        </ng-container>  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10,15,20]"></mat-paginator>
  </div>
</div>