<h2>Reset Password</h2>

<form  [formGroup]='userResetForm' (ngSubmit)="resetPassword(userResetForm.value)">
  <div class="imgcontainer">
    <!-- <img src="assets/img_avatar2.png" alt="Avatar" class="avatar"> -->
  </div>

  <div class="container">
    <label for="psw"><b>New Password</b></label>
    <input type="password" id="password" formControlName="password" ngModel [pattern]="passwordPattern" [ngClass]="{'is-invalid':submitted && userResetForm.get('password').errors}" required>
    <div *ngIf="(submitted == true && userResetForm.get('password').errors)" class="alert alert-danger">
      Password should have  minimum 6 characters with one capital, one small & one number.
    </div>

    <label for="psw"><b>Confirm Password</b></label>
    <input type="password" id="password" formControlName="confirm_password" ngModel [pattern]="passwordPattern" [ngClass]="{'is-invalid':submitted && userResetForm.get('confirm_password').errors}" required>
    <div *ngIf="(submitted == true && userResetForm.get('confirm_password').errors)" class="alert alert-danger">
      Password should have  minimum 6 characters with one capital, one small & one number.
    </div>
        
    <button type="submit">Submit</button>
  </div>
</form>    