
<h1>App Component</h1>
    <span *ngIf="navBarService.isHome==true">
        <a routerLink="/">Home | </a>
    </span>
    <span *ngIf="navBarService.isContactUs==true">
        <a routerLink="/contactus">Contact Us</a> | 
    </span>
    <span *ngIf="navBarService.isContactUs==true"> 
        <a routerLink="/userslist">Users List</a> | 
    </span>
    <span *ngIf="navBarService.isHome==false">
        <a routerLink="/usersadd">Registration</a>
    | </span> 
    <span *ngIf="navBarService.isHome==false">
        <a routerLink="/login">Login</a>  
    </span>
    <span *ngIf="navBarService.isContactUs==true">
        <a routerLink="/resetpassword" >Reset Password</a> |
    </span>
    <span *ngIf="navBarService.isContactUs==true">
        <a routerLink="/sendOtp" >Mobile varification</a> |
    </span>
    <span *ngIf="navBarService.isContactUs==true">
        <a (click)="logout()">Logout</a> 
    </span>
<router-outlet></router-outlet>