<h2>Send OTP</h2>

<form  [formGroup]='userSendOtpForm' (ngSubmit)="sendOtp(userSendOtpForm.value)">
  <div class="imgcontainer">
    
  </div>

  <div class="container">
    <label for="uname"><b>Phone Number</b></label>
    <input type="text" id="phoneno" formControlName="phoneno" placeholder="" ngModel [ngClass]="{'is-invalid':submitted && userSendOtpForm.get('phoneno').errors}" required>
    <div *ngIf="(submitted == true && userSendOtpForm.get('phoneno').errors)" class="alert alert-danger">
      Please provide valid phone number.
    </div>
    <span style="margin-right: 100px">
        <button type="submit">Send OTP</button>
    </span>
    <span>
        <button type="submit">Resend OTP</button>
    </span> 
  </div>
</form>    