<!-- <h3>Contact Us Form</h3>

<div class="container">
  <form [formGroup]='contactUsForm'>

    <label for="first_name">First Name</label>
    <input type="text" id="first_name" formControlName="first_name"
    [ngClass]="{'is-invalid':submitted}" placeholder="Your name.."   required>
    <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger">
      First name allows only maximum 25 characters with only alphabets, space, dash.
    </div>

    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" formControlName="last_name" placeholder="Your last name.." ngModel [pattern]="firstAndLastNamePattern"
    [ngClass]="{'is-invalid':submitted && contactUsForm.get('last_name').errors}" required>
    <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert alert-danger">
      Last name allows only maximum 25 characters with only alphabets, space, dash.
    </div>

    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" placeholder="Your email address..">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      Please provide valid email address.
    </div>

    <label for="subject">Subject</label>
    <input type="text" id="subject" formControlName="subject">
    <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="alert alert-danger">
      Please provide subject.
    </div>

    <label for="message">Message</label>
    <textarea id="message" formControlName="message" placeholder="Write something.." style="height:200px"></textarea>
    <span *ngIf="message.invalid && (message.dirty || message.touched)" class="alert alert-danger">
      Please provide message.
    </span>
    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
    </ngx-recaptcha2>
    <button type="button" (click)="contactUsAPI()" class="btn btn-danger"></button>
  </form>
</div> -->

<h3>Contact Us Form</h3>

<div class="container">  
  <form [formGroup]='contactUsForm' (ngSubmit)="contactUsAPI(contactUsForm.value)">
    <!-- <form > -->
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" formControlName="first_name" placeholder="Your name.." ngModel [pattern]="firstAndLastNamePattern" [ngClass]="{'is-invalid':submitted && contactUsForm.get('first_name').errors}" required>
    <!-- <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched) || (submitted == true && contactUsForm.get('first_name').errors)" class="alert alert-danger">
      First name allows only maximum 25 characters with only alphabets, space, dash.
    </div> -->
    <div *ngIf="(submitted == true && contactUsForm.get('first_name').errors)" class="alert alert-danger">
      First name allows only maximum 25 characters with only alphabets, space, dash.
    </div>

    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" formControlName="last_name" placeholder="Your last name.." ngModel [pattern]="firstAndLastNamePattern" [ngClass]="{'is-invalid':submitted && contactUsForm.get('last_name').errors}" required>
    <div *ngIf="(submitted == true && contactUsForm.get('last_name').errors)" class="alert alert-danger">
      Last name allows only maximum 25 characters with only alphabets, space, dash.
    </div>

    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" placeholder="Your email address.." [ngClass]="{'is-invalid':submitted && contactUsForm.get('email').errors}" required>
    <div *ngIf="(submitted == true && contactUsForm.get('email').errors)" class="alert alert-danger">
      Please provide valid email address.
    </div>

    <label for="subject">Subject</label>
    <input type="text" id="subject" formControlName="subject" [ngClass]="{'is-invalid':submitted && contactUsForm.get('subject').errors}" required>
    <div *ngIf="(submitted == true && contactUsForm.get('subject').errors)" class="alert alert-danger">
      Please provide subject.
    </div>

    <label for="message">Message</label>
    <textarea id="message" formControlName="message" placeholder="Write something.." style="height:200px" [ngClass]="{'is-invalid':submitted && contactUsForm.get('message').errors}" required></textarea>
    <div *ngIf="(submitted == true && contactUsForm.get('message').errors)" class="alert alert-danger">
      Please provide message.
    </div>
    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
    </ngx-recaptcha2> 
    <input type="submit" value="Submit">
  </form>
</div>
