<h2>Verified OTP</h2>

<form  [formGroup]='userVerifiedOtpForm' (ngSubmit)="verifiedOtp(userVerifiedOtpForm.value)">
  <div class="imgcontainer">
    
  </div>

  <div class="container">
    <label for="uname"><b>OTP(One time password)</b></label>
    <input type="text" id="otp" formControlName="otp" placeholder="Please enter OTP" ngModel [ngClass]="{'is-invalid':submitted && userVerifiedOtpForm.get('otp').errors}" required>
    <div *ngIf="(submitted == true && userVerifiedOtpForm.get('otp').errors)" class="alert alert-danger">
      Please provide valid otp number.
    </div>
    <span style="margin-right: 100px">
        <button type="submit">Submit</button>
    </span>
  </div>
</form>    